/* 4 - External */

body{
    padding-bottom: 500px;
}

h3{
    color: green;
}

p{
    color: blueviolet;
}

/* Algum comentario*/
/* mais um comentario*/
/* Terceiro comentário */

/* classes */
.paragraph{
    background: #000;
    color: aqua;
    padding: 5px;
}

