/* 4 - External */

body{
    padding-bottom: 500px;
}

h3{
    color: green;
}

p{
    color: blueviolet;
}

/* Algum comentario*/
/* mais um comentario*/
/* Terceiro comentário */

/* classes */
.paragraph{
    background: #000;
    color: aqua;
    padding: 5px;
}

#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

h2{
    border-bottom: 4px solid red;
}

#algum-titulo{
    border-bottom: 4px solid green;
}

.titulo{
    border-bottom: 3px solid blue;
}

/* Nome de Cores */
.color-name{
    color: crimson;
}

/* Hexadecima */
.hex{
    color: #55a398;
}

.hex-2{
    color: #ededed;
}

/* Aprofundamento em hexadecimal */
.hex-simple{
    color: #333;
}

.hex-simple-2{
    color: #a5f;
}

/*  rgb */
.rgb{
    color: rgb(197, 148, 148);
}

.rgb-mix{
    color: rgb(12, 16, 10);
}

.rgba{
    color: rgba(37, 25, 14, 0);
}

.rgba-mix{
    color: rgba( 90, 120, 217, 1);
}

.hsl{
    color: hsl( 100, 50%, 30%);
}


.hsl2{
    color: hsl( 120, 20%, 10%);
}

.bg{
    background-color: #000 ;
    color: yellow ;
}

.bg-2{
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}

.bg-opacity{
    background-color: green;
    opacity: 0.2;
}

.bg-opacity-2{
    background-color: #999;
    color: #000;
}

.rgba-opacity{
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}

.bg-image{
    background-image: url("/HTML/Imagens/mundo.jpg");
    padding: 10px;
    color: #fff;
}

.not-central-bg, .central-bg{
    width: 400px;
    height: 400px;
    background-image: url("/HTML/Imagens/tecnologia.jpg");

}

.central-bg{
    background-position: center;
    background-size: cover;
}

.heigth-width{
    height: 200px;
    width: 200px;
    background-color: red;
}


.heigth-width-2{
    height: 300px;
    background-color: #333;
}

/* padding */
.whithout-padding, .padding{
    background-color: #111;
    color: #fff;
}

.padding{
    background-color: #333;
    padding: 20px;
}
