
body{
    padding-bottom: 500px;
}
/* 1 flex */
.flex{
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* 2 flex column */
.flex-column{
    display: flex;
    color: #ddd;
    flex-direction: column;
}

/* 3 wrap */
.wrap{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.box{
    height: 40px;
    width: 33%;
    border: 1px solid red;
}

/* 4 justify content */

.center .box,
.space-around .box,
.end .box, 
.space-between .box{
    width: 50px;
}

.center{
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}

.end{
    justify-content: end;
}

/* 5 align iten */
.flex-end, .strech, .align-center{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    height: 200px;
    border: 1px solid blue;
}

.align-center .box,
.strech .box, 
.flex-end .box{
    width: 50px;
}

.align-center{
    justify-content: center;
    align-items: center;
}

.flex-end{
    align-items: flex-end;
}

.strech{
    align-items: stretch;
}

.strech .box{
    height: auto;
}

/* 6 gap */
.gap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid green;
    gap: 10px;
}

.gap .box{
    width: 32%;
}


/* 7 order */
.order{
    display: flex;
}

#one{
    order: 1;
}
#two{
    order: 2;
}
#three{
    order: 3;
}

/*8 grow */

.grow{
    display: flex;
}

.grow .box{
    flex: 1;
}

.grow .big{
    flex: 2;
}
/* 9 basis */
.basis{
    display: flex;
}

.basis .box{
    flex-basis: 20px;
}

.basis .big{
    flex-grow:1 ;
}

/* shrink */

.shrink{
    display: flex;
}

.shrink .box{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    width: auto;
}

.shrink .small{
    flex-shrink: 2;
}

/* 11 shorthand */

.shorthand{
    display: flex;
}

.shorthand .box{
    width: auto;
    flex: 1 1 50px;
}

.shorthand .different{
    flex: 3 1 400px;
}

/* auto alinhamento */
.auto-alignment{
    display: flex;
    height: 300px;
    border: 1px solid purple;
    align-items: flex-end;
}

.auto-alignment .different{
    align-items: center;
}